/* Universal selector */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-sizing: border-box;
  }
  
  /* Element selectors */
  body {
background-color: rgb(248, 222, 190);
    margin: auto;
          }
    
   header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    line-height: 100px;
    color: #191616;
    background-color: #e1f0a1;
    text-align: center;
    font-size: 150%;
    border: 5px solid darkblue;
    position: relative;
    
  }

  header h1 {
    text-align: top;
  }

  .about-me, .portfolio, .resume{
    display: flex;
      }

 .about-me {
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 2%; 
    width: 75%;
    height: 300px;
    line-height: 15px;
    color: #191616;
    background-color: aliceblue;
    font-size: 100%;
    border: 5px solid darkblue;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px darkblue;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .about-me p{
    text-align: bottom;
 }

  figure {
   width: 200px;
   height: 200px;
   margin-bottom: 50px;
   background-color: #f0ead6;
   border: 5px solid #191616;
   }

   /* Class selector */
 .portfolio {
    border: 5px solid darkblue;
    padding: 10px;
    float: left;
    width: 40%;
    background-color: aliceblue;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkblue;
    margin: 75px;
  }

  .resume {
  border: 5px solid darkblue;
  padding: 10px;
  float: left;
  width: 40%;
  background-color: aliceblue;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px darkblue;
  margin: 75px;
  }
 
  .box-info-text {
    font-weight: normal;
    text-align: center;
  }

  .about-me:hover, .portfolio:hover, .resume:hover {
    background-color: rgb(184, 180, 187);
  }

  .contact-details {
    border: 5px solid darkblue;
    border-width: 5px;
    padding: 10px;
    float: left;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkblue;
   }

   #header-a{
    margin: 5px;
    position: absolute;
        bottom: 0;
        left: 15%;
       }
       
        

   #header-p{
    margin: 5px;
    position: absolute;
        bottom: 0;
        left: 35%;
   }

   #header-r{
    margin: 5px;
    position: absolute;
        bottom: 0;
        left: 55%;
   }

   #header-c{
    margin: 5px;
    position: absolute;
        bottom: 0;
        left: 75%;
   }

  #contact-e {
    margin: 20px;
    
  }

  #contact-g {
    margin: 20px;
  }
  #contact-p {
    margin: 20px;
  }

  p a:hover {
    color: rgb(7, 146, 41);
  }

  section a:hover{
    color: rgb(7, 146, 41);
  }

  @media screen and (max-width: 992px) {
    body {
      background: #66443f;
    }
}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    body {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    body {
      background-color: #8ac4ff;
    }
  }
 